<div class="h-16 grid grid-cols-3 gap-4 content-center text-center bg-yellow-200 ">
    <%=link_to '利用規約', terms_diaries_path%>
    <%=link_to'プライバシーポリシー' ,privacy_diaries_path%>
    <%= link_to "お問い合わせ" ,new_contact_path %>
</div>
