  <%= render "header" %>

  <div class="text-lg  text-center pb-6 pt-6 bg-yellow-50">
    small-diaryとは
  </div>



<div class="bg-yellow-50 h-screen relative">
   <div class="w-1/2 ml-auto mr-10 ">
     <%=image_tag "cat_girl.png"%>
   </div>
   <div class="text-3xl text-gray-600 font-semibold absolute top-44 left-32 z-40 ">
      毎日ある小さな思い出を一言日記<br>として残すことができるサービスです。
      <div class = "animate-bounce text-5xl mt-20 text-center rounded-full ">
        ↓
      </div> 
   </div>

  <div class="bg-yellow-50 h-screen relative">
   <div class ="text-8xl  absolute left-56 text-gray-500" >
    ADOUT
   </div>


   <div class="w-1/3 pt-20">
      <%=image_tag "atm.png"%>
   </div>
   <div class ="absolute pt-10 ml-32 bottom-0 top-96 text-center text-xl font-mono">
   今日あった楽しいかったこと、悲しかったこと、面白かったこと、<br>そういった感情が動いたことはもちろん、<br>
   900円のお釣りが全部100円玉で帰ってきた、電車が目の前で行ってしまった、<br>近所のコンビニで友達とばったりあった、
   などの小さな出来事を一行(15文字)にして残しておきましょう。<br>なぜ残しておくのか？<br><br>ふとした時に振り返る時にわかりますよ。この出来事が非常に価値のある思い出だと。
   </div>
   <div class =" text-center animate-bounce text-2xl text-gray-600 absolute inset-x-0 bottom-0">
   ↓
   </div>

   <div class="text-center  text-2xl pt-96  bg-yellow-50 pt-20 pb-24 font-mono">
   さあ、Small-Diary始めましょう。
   <div class="pt-10">
   <%=link_to "新規登録ページへ",new_user_registration_path ,class:'hover:underline '%>
   </div>
   </div>

   </div>









</div>