  <%= render "header" %>

 <div class=" pl-4 pb-2  sm:text-3xl sm:pb-10 sm:pt-6 text-sm pb-10 pt-6  text-center bg-yellow-50 ">
    small-diaryとは
  </div>



<div class="bg-yellow-50 h-full relative">
   <div class="w-44 ml-auto lg:w-1/2 lg:ml-auto lg:mr-10 md:mr-8 sm:w-96 sm:ml-auto  ">
     <%=image_tag "cat_girl.png"%>
   </div>
   <div class="text-xs top-20 left-8 lg:text-3xl text-gray-600 font-semibold absolute lg:top-44 lg:left-32 z-40 md::text-xl md:top-36 md:left-28 sm:text-base sm:left-20 sm:top-36">
      毎日ある小さな思い出を一言日記<br>として残すことができるサービスです。
      <div class = "animate-bounce text-2xl mt-10 sm:text-5xl sm:mt-20 text-center rounded-full ">
        ↓
      </div> 
   </div>

  <div class="bg-yellow-50 h-screen relative">
   <div class ="absolute text-gray-500 text-4xl mt-8 left-20 md:text-8xl md:left-56 sm:text-7xl sm:mt-4 sm:left-40 " >
    ADOUT
   </div>


   <div class="w-1/3 pt-20">
      <%=image_tag "atm.png"%>
   </div>
   <div class ="bg-yellow-50 pb-20 text-center text-xs lg:text-xl font-mono md:text-base sm:text-sm sm:-m-10">
   今日あった楽しいかったこと、悲しかったこと、面白かったこと、<br>そういった感情が動いたことはもちろん、<br>
   900円のお釣りが全部100円玉で帰ってきた、電車が目の前で行ってしまった、<br>近所のコンビニで友達とばったりあった、
   などの小さな出来事を一行(15文字)にして残しておきましょう。<br>なぜ残しておくのか？<br><br>ふとした時に振り返る時にわかりますよ。この出来事が非常に価値のある思い出だと。
   </div>
   <div class =" text-center animate-bounce text-2xl text-gray-600 absolute inset-x-0 lg:-bottom-10 md:inset-x-0 md:bottom-14 sm:top-1/3 sm:inset-x-0">
   ↓
   </div>

   <div class="text-center  text-2xl pt-20  bg-yellow-50  pb-24 font-mono">
   さあ、Small-Diary始めましょう。
   <div class="pt-10">
   <%=link_to "新規登録ページへ",new_user_registration_path ,class:'hover:underline '%>
   </div>
   </div>

   </div>









</div>