 <%= render "header" %>

 <div class="text-lg  text-center pb-6 pt-6 bg-yellow-50">
    小さな思い出を日記にしませんか?
 </div>

<div class="bg-yellow-50">
 <div  class=" relative bg-yellow-200  w-full rounded-full">
   <%=image_tag "cat_girl.png"%>

  <% if user_signed_in?%>
    <div class=" absolute inset-y-0 right-28 top-1/2 font-mono text-center text-xl ">
    <%= link_to 'dairyを始める',  new_diary_path , id: "registrations"%>
    </div>
  <% else %>
    <div class=" absolute inset-y-0 right-28 top-1/2 font-mono text-center text-xl ">
    <%= link_to 'dairyを始める',  new_user_registration_path, id: "registrations"%>
    </div>
  <% end %>
 </div>
</div>


